.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*div, section, p, h1, h2, h3, img {
    border: 1px solid red;
}*/
@keyframes square-pic {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes triangle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.header {
    /*border: 6px solid red; */
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;  
    position:relative;
    background-color: #F2F2F2;
    overflow: hidden;
    /* выше установили ограничения для секции */
}


.logo_place_header{
    position:absolute;
    left:64px;
    top:30px;
    width:183px;
    height: 32px;
}
.header__title {
    line-height:96px;
    font-size: 102px;
    font-weight: bold;
    width:730px;
    margin-left:64px;
}
.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    position: absolute;
    font-weight: normal;
    left:64px;
    bottom:30px;
    width:388px;


}
.header__main-illustration {
    width:765px;
    height:608px;
    position: absolute;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    right:0px;
    bottom:0px;
    z-index:998;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position:absolute;
    right:0px;
    top:64px;
    transform: rotate(-15deg);
	animation: square-pic linear infinite 20s;
}
.header__link {
    text-decoration:none;
    color:#2F80ED;
    transition: transform .9s linear .3s, opacity .9s linear .3s;
}
.header__link:hover {
	transform: translate(10px,0px);
	opacity: .5;
}

/* Блок description */
   
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
.description{
    margin-top:100px;
}
.two-columns__brief{
    min-width: 175px;
    margin-right: 60px;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.2;
    color: #2F80ED;
    font-weight: normal;
}
.two-columns {
    display:flex;
    margin:auto;
    width:80%;
    justify-content: space-between;

}
.two-columns__main-text {
    display:flex;
    flex-direction:column;
    width:80%;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
}

.two-columns__paragraph {
    margin: 0;
    margin-bottom: 30px;
}

.technics {
    padding-top: 100px;
    width: 80%;
    margin-left: auto;
	margin-right: auto;
    
}

.cards {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
    align-content:left;
    /*border: 1px solid red;*/
    justify-content: space-around;
}

.cards__item {
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 100px;
	text-align: center;
    width: 240px;
    /*border: 1px solid red;*/
}

.cards__image {
	margin: 0px,40px,43px,40px;
	width: 160px;
	height: 160px;
    border-radius: 50%;
    /*border: 1px solid red;*/
}

.cards__title {
	margin-bottom: 16px;
	line-height: 1.15;
	font-size: 24px;
    font-weight: bold;
    /*border: 1px solid red;*/
}

.cards__description {
	line-height: 23px;
	font-size: 18px;
	font-weight: normal;
    margin-top: 16px;
    /*border: 1px solid red;*/
}
/* Видео с ютуба*/
.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

/*.video .section-title {
	line-height: 1.15;
}*/

.video__iframe {
	padding-right: 20px;
	width: 515px;
	height: 316px;
	border: none;
}

.video__iframes {
	margin: 50px auto -45px;
}

/*Про девочку Барбару.Отступы Oakley*/

.oakley {
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

.oakley .two-columns {
	margin-top: 160px;
	margin-right: auto;
	margin-bottom: 80px;
	margin-left: auto;
}

/*Блок Фейнман*/
.feinman {
    padding-top:100px;
    background-color: #F2F2F2;
    height: 790px;
    position:relative;
}
.feinman__title {
    width:648px;
    line-height: 1.15;
    font-size:120px;
    font-weight: bold;
    /*padding-top:100px;*/
    text-align:center;
    margin:auto;
    z-index: 4;
    position: relative;

}
.feinman__subtitle {
   line-height: 51px;
   font-size:36px;
   font-weight:normal;
   text-align:center;
   margin-top:70px;
   z-index:4;
   position: relative;
}
.feinman__link {
   line-height: 51px;
   font-size:36px;
   font-weight:normal;
   position: absolute;
   right:48px;
   top:50%;
   color: black;
   text-decoration:none;
   z-index: 4;
   
}
.feinman__link:hover {
	transition: .9s linear .3s;
	transform: translate(10px,0);
	opacity: .5;
}
.feinman__pic {
    z-index:998;
    left:0;
    bottom:0;
    width: 867px;
    height: 637px;
    position:absolute;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index:3;
}
/*Блок Цифры и факты*/
.digits{
    margin-top:100px;
    margin-bottom:100px;
}
.section-title {
    line-height:69px;
    font-size:60px;
    font-weight: bold;
    text-align:center;
    margin:0px;
}
.section-subtitle {
    line-height:34px;
    font-size:24px;
    font-weight: normal;
    margin-top:20px;
    text-align:center;
}
.table {
    display:flex;
    margin:auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width:1100px;
    

}
.table__cell {
    width:250px;
    margin-top:60px;
}
.table__heading{
    line-height:1.15;
    font-size:24px;
    font-weight:bold;
    margin-top:0px;

}
.table__text_span{
    display: block;
    margin-top: 20px;
}  
.table__text {
    margin-top: 20px;
    line-height:1.2;
    font-size:18px;
    font-weight:normal;

}
/*Блок Книга*/
.khan {
	background-color: #f2f2f2;
}

.khan__container {
	margin-top: 100px;
	padding-top: 105px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.khan__author {
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
}

.khan__title {
	margin-top: 0px;
	margin-bottom: 50px;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
}

.khan__quote {
	min-width: 790px;
	margin-bottom: 36px;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.khan__quote-author {
	margin-bottom: 10px;
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
}

.khan__quote-author-subline {
	margin-bottom: 68px;
	line-height: 1.15;
	font-size: 24px;
	font-weight: normal;
}

.khan__book-container {
	display: flex;
}

.khan__book-pik {
	height: 608px;
	width: 620px;
	margin-right: 20px;
	object-fit:cover;
	object-position: 0 0;
	/*margin-bottom: -289px;*/
}

.khan__buy-link {
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	color: #2F80ED;
}

.khan__buy-link:hover {
	transform: translate(10px,0);
	transition: .9s linear .3s;
	opacity: .5;
}
/* Блок Принципы обучения */
 .kaufman {
     background-color:  #1F1F1F;
     overflow:hidden;
     position:relative;
     padding-bottom: 90px;

 }
 .section-title_theme_dark {
    width: 60%;
    line-height:69px;
    font-size:60px;
    font-weight:bold;
    color:white;
    text-align:center;
    margin:auto;
    padding-top:90px;
 }
 .section-subtitle_theme_dark{
     line-height: 34px;
     font-size:24px;
     font-weight:normal;
     color:white;
     text-align:center;
     margin-top:20px;
     


 }
.table_theme_dark {
    display: flex;
    position:relative;
    margin:auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    z-index:4;
    
    

}
.table__cell_theme_dark{
    width: 200px;
    
}
.table__heading_theme_dark{
    line-height:1.15;
    font-size:24px;
    font-weight: bold;
    margin-top: 0;
}
.table__text_theme_dark{
    line-height:1.2;
    font-size:18px;
    font-weight:normal;
    
    
}
.kaufman__triangle {
    position:absolute;
    z-index:3;
    width:877px;
    height: 877px;
    top:0;
    right:-210px;
    animation: triangle 20s linear infinite;
}
/*Блок Полезные ресурсы*/
/*.resources .section-title {
	margin-top: 100px;
	width: 60%;
    margin-bottom: 20px;
    
}

.resources .section-subtitle {
	width: 60%;
    margin-bottom: 80px;
    
}*/
.resources {
    margin-top:100px;
    /*padding-bottom:217px;*/
}
.resources__logo-zone {
	width: 1100px;
	margin-bottom: 217px;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    margin-top:80px;
}

.resources__logo {
	width: 270px;
	height: 38px;
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}
/*Блок footer*/
.footer{
    background-color: #1F1F1F;
    /*border: 1px solid red;*/
    min-height:350px;
    color:white;
    min-width: 1100px;
    max-width: 1600px;
    min-height: 350px;
    margin-bottom:40px;
    padding-top:60px;
    
}
.footer__columns {
    margin-top: 60px;
    width: 90%;
    /*border: 1px solid red;*/
    margin:auto;
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
.footer__column {
    min-height: 350px;
    /*border: 1px solid red;*/
}
.footer__column_content_copyright{
    color:white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis:711px;
    position:relative;
    /*border: 1px solid red;*/
}
.logo_place_footer {
    width:183px;
    height:32px;
    position:absolute;
    /*border: 1px solid red;*/


    
}
.footer__author {
    position: absolute;
    /*border: 1px solid red;*/
    line-height:25px;
    font-size: 18px;
    font-weight:normal;
    bottom: 18px;
    

}
.footer__column-links{
    list-style-type: none;
    /*padding-top:20px;*/
    padding:0;
    /*border: 1px solid red;*/
    
}
.footer__column-heading {
    line-height:30px;
    font-size:18px;
    font-weight:bold;
    margin:0;
}
.footer__column-icon {
    color:white;
    /*text-decoration:none;*/
    width:16px;
    height:16px;
    /*border: 1px solid red;*/

    
}
.footer__column-link {
    color:white;
    text-decoration:none;
    /*border: 1px solid red;*/
    line-height:30px;
    font-size:18px;
    font-weight:normal;
    margin-top:20px;

    
}
